<div class="edit-line-item-properties-wrapper">
  <h3>Edit Line Item Properties</h3>

  <%= form_for @order, as: :post, url: customer_order_path(@order), method: :patch do |f| %>
    <table class="table">
      <tbody>
        <% @order.line_items[0]['properties'].each do |pair| %>
            <tr>
              <td><%= pair['name'].capitalize %></td>
              <td>
                <input value="<%= pair['value'] %>" type="text" name="<%= pair['name'] %>" class="form-control">
              </td>
              <!--  insert hidden input for other line_item_properties -->
            </tr>
        <% end %>
      </tbody>
    </table>
    <%= f.submit 'Update', :class => 'btn btn-info' %>
  <% end %>
</div>
