<table class="table order-list-wrapper">
  <thead>
    <tr>
      <th>Order #</th>
      <th>Date</th>
      <th>Total</th>
      <th>Transaction Status</th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td>
          <%= link_to customer_order_path(order) do %>
            <%= order.id %>
          <% end %>
        </td>
        <td><%= order.scheduled_at.strftime('%B %d, %Y')  %></td>
        <td><%= number_to_currency(order.total_price) %></td>
        <td><%= order.status %></td>
      </tr>
    <% end %>
  </tbody>
</table>
