<h3> List order for specific customer here </h3>
<table class="table order-show-wrapper">
  <thead>
    <tr>
      <th>Order</th>
      <th>Date</th>
      <th>Total</th>
      <th>Transaction Status</th>
      <th>Line_Items</th>
      <th colspan="6"></th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td><%= @order.id %></td>
      <td><%= @order.scheduled_at %></td>
      <td>$<%= @order.total_price %></td>
      <td><%= @order.status %></td>
      <td>
        <% @order.line_items.each do |line_item| %>
          <% if line_item.has_key?('images') %>
            <img src="<%= @order.line_items[0]['images']['small'] %>"/>
          <% end %>
          <%= @order.line_items[0]['title'] %> <br />
          Quantity: <%= line_item['quantity'] %> <br />
            <% line_item['properties'].each do |prop| %>
              <% if prop.has_value?('leggings') %>
                Leggings: <%= prop['value'] %><br />
              <% end %>
              <% if prop.has_value?('sports-bra') %>
                Sports Bra: <%= prop['value'] %><br />
              <% end %>
              <% if prop.has_value?('tops') %>
                Tops: <%= prop['value'] %><br />
              <% end %>
              <% if prop.has_value?('product_collection') %>
                Product Collection: <%= prop['value'] %><br />
              <% end %>
            <% end %>
        <% end %>
      </td>
      <td><%= link_to "Edit line items", edit_customer_order_path(@order) %></td>
    </tr>
  </tbody>
</table>
